---
- name: Virtualenv | Installation
  pip: name=virtualenvwrapper

- name: Virtualenv | Creating and Activating
  template: src=templates/venv_exec.j2 dest=/home/{{ system.odoo_user }}/activator mode=755

- name: Virtualenv | Activating Virtualenv
  command: /home/{{ system.odoo_user }}/activator

- name: Virtualenv | Copying requirements
  template: src=requirements_{{odoo.version}}.j2 dest=/home/{{ system.odoo_user }}/requirements_{{odoo.version}}.txt mode=644

- name: Virtualenv | Installing requirements
  pip: requirements=/home/{{ system.odoo_user }}/requirements_{{odoo.version}}.txt

- name: Odoo | Clone repo
  git: 
    repo: "{{ odoo.repo_git }}"
    depth: 1
    dest: "/home/{{ system.odoo_user }}/{{ odoo.home }}"
    version: "8.0"

- name: Odoo | Change owner
  file: path=/home/{{ system.odoo_user }} owner={{ system.odoo_user }} group={{ system.odoo_group }} mode=0750 recurse=yes

- name: Odoo | Adding user www-data to group odoo
  command: gpasswd -a www-data odoo

- name: Odoo | Create /var/log/odoo
  file: path=/var/log/odoo owner=odoo group=odoo mode=0750 state=directory

- name: Odoo | Create /var/run/odoo.pid
  file: path=/var/run/odoo.pid state=touch owner=odoo group=odoo mode=0644

- name: Odoo | Copy odoo.conf
  template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/odoo.conf"
    owner: "odoo"
    group: "odoo"
    mode: 0750
  with_items:
    - odoo_conf

- name: Odoo | Copy /etc/init/odoo
  template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/init/odoo.conf"
    owner: "root"
    group: "root"
    mode: 0750
  with_items:
    - odoo


